absl-py==0.2.2
astor==0.6.2
backports.weakref==1.0.post1
bleach==1.5.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.12.1
h5py==2.8.0rc1
html5lib==0.9999999
Keras==2.1.6
linecache2==1.0.0
Markdown==2.6.11
mock==2.0.0
numpy==1.14.3
pbr==4.0.4
pip==10.0.1
protobuf==3.5.2.post1
PyYAML==3.12
setuptools==39.2.0
scipy==1.1.0
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
tqdm==4.23.4
traceback2==1.4.0
unittest2==1.1.0
Werkzeug==0.15.3
wheel==0.31.1
